* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #000;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #b3b3b3;
}

#header {
    width: 100%;
    height: 55px;
    background-color: #000;
}

/* Navigation Links */

#nav-bar {
    font-size: 16px; 
    font-weight: bolder;   
    letter-spacing: 2px;
    text-align: center; 
}

#nav-bar li {
    display: inline-block;
    list-style-type: none;
    height: 55px;
    margin-top: 18px;
    position: relative; 
}

#nav-bar a {
    text-decoration: none;
    color: #8c8c8c;
    padding: 14px 20px;
}

#nav-bar li a:hover {
    background-color: #8c8c8c;
    color: #000;
}

#nav-bar a.active {
    background-color: #8c8c8c;
    color: #000;  
}

header .small-logo {
    float: left;
    position: absolute;
}

.hero-left {
    height: 700px;
    width: 50%;
    float: left;
    background: #000;
    
}

.logo {
    text-align: center;
    margin-top: 100px;
}

.cta {
    width: 300px;
    height: 300px;
    margin-left: 175px;
    margin-top: 75px;
}

.cta > h2 {
    font-size: 28px;
    color: #8c8c8c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.hero-right {
    background-color: #000;
    height: 700px;
    width: 50%;
    float: right;
}

#hero-image {
    height: 100%;
    margin-right: 60px;
}

#gig-bg {
    width: 100%;
    background-color: #000;
}

.gig-gallery {
    float: left;
    columns: 4;
    background-color: #000;
}

.gig-gallery > img {
    width: 160px;
    height: 160px;
    display: grid;
    border: 2px solid #000;
}

.gigs {
    background-color: rgba(85, 85, 85, 0.5);
    width: 700px;
    float: right;
    text-align: center; 
}

table {
    table-layout: fixed;
    border: 1px solid #000;
    padding: 12px;
    width: 700px;
}

th {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 16px;
}

td {
    font-weight: 600;
    font-size: 13px;
}

th, td {
    border: 1px solid #ddd;
    color: #b3b3b3;
    line-height: 25px;
    padding: 5px;
}

/* Footer */

footer {
    display: flex;
    background-color: #000;    
    width: 100%;
    bottom: 0;	 
}

footer .small-logo {
    margin-left: 5px;
    margin-top: 15px;
}

footer li {
    display: inline-flex;
    list-style-type: none;
    margin-top: 30px; 
    margin-bottom: 20px;
}

.social-links {
    color: #8c8c8c;
    font-size: 30px;  
    margin-left: 20px;
    margin-right: 20px; 
}

.follow-button {
    margin-left: 230px;
}

.button {
    background-color: #8c8c8c;
    border: none;
    color: #000;
    padding: 3px 15px;
    margin-left: 15px;    
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 16px;
    display: block;
}

.copyright {
    color: #8c8c8c;
    font-size: 16px;
    float: right;
    margin-left: 230px;
    margin-top: 35px;    
}

/* Music Page*/

.music-bg {
    background-image: url(../images/eb_music_bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: static;
    width: 100%;
    height: 1450px;
}

.music-section {
    background-color: rgba(0, 0, 0, 0.6);
    width: auto;
    height: 1430px;
    padding: 3% 50% 0% 28%;
    position: absolute;
    top: 50px;
}

.music-section > iframe {
    margin-bottom: 30px;
}

/* Story Page*/

.story-section {
    margin-top: 25px;
    margin-bottom: 50px;
}

.story-section > img {
    width: 50%;
    float: left;
}

.her-story {
    background-color: rgba(85, 85, 85, 0.5);
    width: 50%;
    float: right;
    text-align: center;
}

.english, .francais, .espanol, .deutsch {
    padding: 15px;
}

.english > h2, p {
    color: #b3b3b3;
    line-height: 25px;
    padding: 5px;
} 

.english > h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.english > p {
    font-size: 14px;
}

.languages li {
    display: inline-block;
    list-style-type: none;
    margin: 35px 10px;
}

.languages li a {
    text-decoration: none;
    color: #b3b3b3;
}

.languages a.active {
    text-decoration: underline;
}

.francais > h2 {
    color: #b3b3b3;
    font-size: 30px;
    margin-bottom: 30px;
}

.espanol > h2 {
    color: #b3b3b3;
    font-size: 30px;
    margin-bottom: 30px;
}

.deutsch > h2 {
    color: #b3b3b3;
    font-size: 25px;
    margin-bottom: 25px;
}

.deutsch > h2, p {
    line-height: 22px;
}

/* Contact Page*/

.contact-bg {
    background-image: url(../images/eb_contact_bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: local;
    position: relative;
    width: 100%;
    height: 765px;
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 600px;
    height: 630px;
    left: 25%;
    right: 25%;
    margin-top: 40px;
    padding: 30px 50px;
    position: absolute;
}

.contact-form > h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #b3b3b3;
}

.text-input {
    color: #000;
    font-family: inherit;
    width: 580px;
    height: 25px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    color: #000;
    width: 580px;
    height: 150px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
}

.radio {
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #b3b3b3;
}

.contact-button {
    width: 100%;
    height: 50px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #8c8c8c;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid #000;
}

.contact-button:hover {
    background-color: #000;
    color: #8c8c8c;
    border: 2px solid #8c8c8c;
    cursor: pointer;
}

/* Media queries */

/* For small screens sizes from 490px wide and down */
@media screen and (max-width: 490px){
    #nav-bar {
        font-size: 10px; 
    }

    .small-logo {
        display: none;
    }

    .copyright {
        display: none;
    }

    .hero-left {
        height: 350px;
        width: 480px;
    }

    .logo > svg {
        width: 300px;
    }

    .logo {
        margin-top: 0;
        margin-left: 0px;
    }   

    .cta {
        margin-left: 85px;
        margin-top: 0;
    }

    .hero-right {
        height: 480px;
        width: 480px;
    }

    #hero-image {
        width: 480px;
        height: 480px;
    }

    .gig-gallery {
        display: none;
    }

    .gigs {
        width: 100%; 
        margin-right: 0;
    }

    table {
        padding: 2px;
        width: 100%;
    }

    th {
        font-size: 12px;
    }

    td {
        font-weight: 200;
        font-size: 11px;
    }

    th, td {
        line-height: 15px;
        padding: 0px;
    }

    .follow-button {
        width: 100px;
        margin-left: 30px;
        margin-right: 10px;
    }

    .social-links {
        margin-left: 20px;
        margin-right: 10px; 
    }

    .button {
        margin-left: 20px;
    }

    .music-section {
        width: 490px;
        height: 1365px;
        padding: 45px;
        margin: 0;
    }

    .music-bg {
        width: 100%;
        margin: 0;
    }

    .music-section > iframe {
        width: 400px;
        margin: 0;
    }

    .story-section {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    .story-section > img {
        width: 100%;
    }
    
    .her-story {
        width: 100%;
        height: 650px;
        margin-right: 0; 
    }

    .english > p {
        font-size: 12px;
    }

    .francais > p {
        font-size: 11px;
    }

    .espanol {
        font-size: 11px;
    }

    .deutsch > p {
        font-size: 11px;
    }

    .english > p {
        font-size: 12px;
    }

    .languages > ul {
        padding-left: 25px;
    }

    .languages li {
        font-size: 11px;
    }

    .contact-bg {
        width: 100%;
    }

    .contact-form {
        width: 380px;
        height: 650px;
        left: 10%;
        margin-top: 40px;
        padding: 10px 10px;
    }
    
    .contact-form > h3 {
        font-size: 20px;
    }
    
    .text-input {
        width: 360px;
        height: 25px;
        margin: 20px 0 20px 0;
        padding: 10px;
    }
    
    textarea {
        width: 360px;
        height: 150px;
        margin: 20px 0 20px 0;
        padding: 10px;
    }
    
    .radio {
        margin-left: 14px;
    }
    
    label {
        font-size: 14px;
        margin-right: 25px;
    }
}